---
http_interactions:
- request:
    method: post
    uri: https://openapi.api.govee.com/router/api/v1/device/state
    body:
      encoding: UTF-8
      string: '{"requestId":"66dc3725-c2de-4e52-8ae0-ddc04cb91c17","payload":{"sku":"H607C","device":"AA:BB:CC:DD:EE:FF"}}'
    headers:
      Govee-Api-Key:
      - "<GOVEE_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"requestId":"66dc3725-c2de-4e52-8ae0-ddc04cb91c17","msg":"success","code":200,"payload":{"sku":"H607C","device":"AA:BB:CC:DD:EE:FF","capabilities":[{"type":"devices.capabilities.online","instance":"online","state":{"value":true}},{"type":"devices.capabilities.on_off","instance":"powerSwitch","state":{"value":1}},{"type":"devices.capabilities.toggle","instance":"gradientToggle","state":{"value":""}},{"type":"devices.capabilities.range","instance":"brightness","state":{"value":100}},{"type":"devices.capabilities.segment_color_setting","instance":"segmentedBrightness","state":{"value":""}},{"type":"devices.capabilities.segment_color_setting","instance":"segmentedColorRgb","state":{"value":""}},{"type":"devices.capabilities.color_setting","instance":"colorRgb","state":{"value":0}},{"type":"devices.capabilities.color_setting","instance":"colorTemperatureK","state":{"value":2200}},{"type":"devices.capabilities.dynamic_scene","instance":"lightScene","state":{"value":""}},{"type":"devices.capabilities.music_setting","instance":"musicMode","state":{"value":""}},{"type":"devices.capabilities.dynamic_scene","instance":"diyScene","state":{"value":""}},{"type":"devices.capabilities.dynamic_scene","instance":"snapshot","state":{"value":""}},{"type":"devices.capabilities.toggle","instance":"dreamViewToggle","state":{"value":""}},{"type":"devices.capabilities.toggle","instance":"pillarLightToggle","state":{"value":""}},{"type":"devices.capabilities.toggle","instance":"baseLightToggle","state":{"value":""}}]}}'
  recorded_at: Sun, 28 Jun 2026 15:21:34 GMT
recorded_with: VCR 6.4.0
